/*Thomas's Stuff*/
body
{
  background-color: skyblue;
  font-family: arial;
}
/*Navigation Link style*/
#nav-bar ol
{
  display: inline-block;
  text-align: center;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: dodgerblue;
  width: 100%;
}
#nav-bar li
{
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#nav-bar li:visited
{
    text-decoration: none;
}
#nav-bar li:hover
{
  background-color: skyblue;
}
/*Image style*/
img
{
  max-width: 200px;
  max-height: 200px;
  width: 150px;
  height: auto;
  border-radius: 75%;
}
img:hover
{
  opacity: 0.5;
}
/*Function for centering images and/or other things*/
.center
{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/* Feel free to add anything else necessary below here*/
