#nav-bar ol
{
  display: inline-block;
  list-style-type: none;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}
#nav-bar li
{
  display: inline;
  padding: 1em;
}

img
{
  max-width: 200px;
  max-height: 200px;
  width: 150px;
  height: auto;
  border-radius: 75%;
}
img:hover
{
  opacity: 0.5;
}

.center
{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
