/*Thomas's Stuff*/
body
{
  background-color: white;
  font-family: arial;
}
/*Navigation Link style*/

#nav-bar ol
{
  font-size: 18px;
  display: inline-block;
  text-align: center;
  list-style-type: none;
  border: 1px solid grey;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #4E82AD;
  box-shadow: 0px 2px 1px 0px;
  width: 100%;

}
#nav-bar li
{
  display: inline-block;
  width: 33%;
  margin: 0 auto;
  padding: 16px 0 16px 0;
  border-right: 1px solid #A9A9A9;
  text-decoration: none;
  color: white;

}
#nav-bar a
{
    text-decoration: none;
    margin: 0;
    color: white;
}
#nav-bar a:visited
{
    text-decoration: none;
}

a.current {

}

#nav-bar li:hover
{
  background-color: skyblue;
}
/*Image style*/
img
{
  max-width: 200px;
  max-height: 200px;
  width: 150px;
  height: auto;
  border-radius: 75%;
}
img:hover
{
  opacity: 0.5;
}
/*Function for centering images and/or other things*/
.center
{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/* Feel free to add anything else necessary below here*/
#header {
  width:100%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #2B6CA3;
}

#logo {
  width: 175px;
  border-radius: 46%;
}